.img_border_height {
    height: 170px;
    width: 250px;
    border-radius: 10px;
  }
  .border_bottom_dishes {
    border-bottom: 1px solid rgb(84, 79, 79);
  }
  .width_card{
    width: 100%;
  }
  .width_card_section1{
    width: 78%;
  }
  .width_card_section2{
    width: 22%;
  }